/* login form */
.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
	margin: 1rem;
	border-radius: 0.1rem;
	background-color: #eee;
	border: 1px solid #ccc;
	gap: 0.5rem;
	width: 17rem;
}
.login-form h1 {
	color: rgb(25, 79, 134);
}
.form-input {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}
.form-input label {
	color: #333;
	font-size: 0.8rem;
}
.form-input input {
	height: 1.8rem;
	min-width: 12rem;
	padding: 0 0.4rem;
	margin-bottom: 0.6rem;
	border-style: none;
	border-bottom: 2px solid darkgray;
}
.form-input input:placeholder-shown:focus,
.form-input input:focus {
	border-bottom: none;
}
.form-input input:placeholder-shown {
	border-bottom: 2px solid orange;
	color: #666;
}

.login-form button {
	padding: 0.5rem 1rem;
	height: auto;
}
